<h1>{{model.title}}</h1>
<p class="lead">{{model.summary}}</p>
<p>
  {{markdown-text model.body}}
</p>
{{#if model.url}}
<p>
  <a {{bind-attr href=model.url}}>{{t "backend.item.link"}}</a>
</p>
{{/if}}
{{#link-to 'backender.edit' id classBinding=":btn :btn-primary"}}{{t "backend.action.edit"}}{{/link-to}}
<button class="btn btn-primary" {{action "removeItem" model}}>{{t "backend.action.delete"}}</button>

