<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    {{#link-to 'index' class="navbar-brand"}}Demo{{/link-to}}
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <ul class="nav navbar-nav">
    <li>
      {{#link-to 'responser'}}{{t "menu.responsive_demo"}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'backender'}}{{t "menu.backend_demo"}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'external'}}{{t "menu.external_params"}}
      {{/link-to}}
    </li>
  </ul>
  {{#if translationInternal}}
  <ul class="nav navbar-nav navbar-right">
    <li>
      <button class="btn btn-default navbar-btn navbar-btn-right" {{action "toggleLang"}}>{{t "menu.other_lang"}}</button>
    </li>
  </ul>
  {{/if}}
</nav>
